<h1>About me</h1>
<p>My name is Nguyen Thi Lien</p>
<p>Em cảm ơn anh Dam Sangnam, anh Hùng (hai anh max đẹp trai) và toàn bộ anh chị trong railsgirls đã hướng dẫn e từng chút một mặc dù e chưa biết gì</p>
<p>Qua hai ngày làm việc cùng các anh chị,em rất quý các anh chị.<3 </p>
<p>Các anh chị thật nhiệt tình và tràn đầy nhiệt huyết.<3.<3.<3.</p>
<p>Tham du Rails Girls 21, 22/4/2018</p>
<img src="https://s7d1.scene7.com/is/image/PETCO/new-kitten-guide-090517-cat-featured-355w-200h-d"></img>

